/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700");
// @import url('https://fonts.googleapis.com/css?family=Gentium+Basic:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Medula+One');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');
@import url('https://fonts.googleapis.com/css?family=Neuton:200');
@import url('https://fonts.googleapis.com/css?family=Oswald:300');

@font-face {
  font-family: 'Bavro';
  src: url('/assets/bavro-regular-webfont.eot');
  src: url('/assets/bavro-regular-webfont.woff') format('woff'),
  url('/assets/bavro-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$logo-font: 'Medula One', 'cursive';
$base-font: 'Neuton', 'serif';
// $header-font: 'Oswald', sans-serif, 300;
$header-font: 'Playfair Display SC', 'serif';
// $header-font: 'PT Sans', 'sans-serif';
$header-app: 'Oswald', 'sans-serif';


// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #FF682F;

$red: #FF682F;
$blue: #00A8FF;
$purple: #9B64FF;
$orange: #FFA300;
$green: #51DFD9;
$grey: #ECECEC;
$white: #ffffff;
$black: #000000;

// ----------------------------------------
// for style guide
.demo-square {
  height: 100px;
  width: 100px;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-red {
  background-color: $red;
}

.background-blue {
  background-color: $blue;
}

.background-purple {
  background-color: $purple;
}

.background-orange {
  background-color: $orange;
}

.background-green {
  background-color: $green;
}

.text-red {
  color: $red;
}
