.image-article-card {
  img {
    width: 100%;
  }
}

.article-panel {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  top: -30px;
  padding: 20px;
}

.font-header-app {
  font-family: $header-app;
}

.image-small {
  width: 80px;
  margin: 30px;
}

.animate-logo {
  margin-top: 40px;
  margin-bottom: 40px;
}

.dropdown-press-review-ul{
  width: 255px;
  padding: 20px;
}

.dropdown-press-review-li {
  margin-bottom: 5px;
}

.fa-plus {
  font-size: 35px;
}
