/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.search-bar {
  font-size: 34px;
  font-family: $header-font;

  input {
    border: none;
    border-bottom: 1px solid $red;
    outline: none;
    text-align:right;
    width: 50vw;
    background-color: transparent;
  }
}

.search-button {
  background: none;
  border: none;
  img{
    width: 50px;
  }
}

.main-topic-image{
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: $white;
  }
}

.main-topic-legend {
    text-align: center;
    list: line;
}

.value-proposition-style {
  padding: 70px;
}
