/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.catchline {
  margin-top: 50px;
  margin-bottom: 50px;
}

.search-bar {
  font-size: 41px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;

  input {
    border: none;
    border-bottom: 1px solid $red;
    outline: none;
    text-align:right;
    width: 55vw;
    background-color: transparent;
  }
}

.search-button {
  background: none;
  border: none;
  img{
    width: 80px;
  }
}

.main-topic-image{
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: $white;
  }
}

.main-topic-legend {
  text-align: center;
  list: line;
}

.value-proposition-style {
  padding: 70px;
}


.text-center {
  p {
    text-align: vertical;
  }
}

.catchline-font {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.topic-card-image {
  height: 45vh;
  background-repeat: no-repat;
  display: flex;
  align-items: center;
  h1 {
    color: $white;
    margin-left: auto;
    margin-right: auto;
  }
}

.topic-card-legend {
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  top: -20px;
}

.logo-source {
  text-align: center;
}

.font-oswald {
  // font-family: 'Playfair Display SC', serif;
font-family: 'Oswald', sans-serif;
font-weight: 300;
}

.catchline-font {
font-family: 'Oswald', sans-serif;
font-weight: 300;
}
