<footer>

<div class="footer-hedge">

    <div><%= link_to "Qui sommes-nous ?", team_path, class: "footer-hedge-item" %></div>

    <div><%= link_to "Notre démarche", about_path, class: "footer-hedge-item" %></div>



    <!-- Logo -->
    <a href="/" class="footer-hedge-brand">
      <%= image_tag "icone/hedgenews_logo.black.png"%>
    </a>


</div>

</footer>
