<div class="navbar-wagon">
  <!-- Logo -->
    <div class="navbar-wagon-logotype">
        <a href="/" class="navbar-wagon-brand text-center">
          <h2 class= "navbar-hedgenews">
            <%= image_tag "icone/hedgenews_logo.black.png" %>
            HedgeNews
          </h2>
        </a>
    </div>



</div>

  <!-- Right Navigation -->
  <div class="container">
  <div class="navbar-wagon-second hidden-xs hidden-sm font-oswald">

    <div>
    <!-- Text link -->
      <a href="" class="navbar-wagon-item navbar-wagon-link red-hover">EN CE MOMENT</a>

      <a href="" class="navbar-wagon-item navbar-wagon-link red-hover">INTERNATIONAL</a>

      <a href="" class="navbar-wagon-item navbar-wagon-link red-hover">ÉCONOMIE</a>

      <a href="" class="navbar-wagon-item navbar-wagon-link red-hover">POLITIQUE</a>

      <a href="" class="navbar-wagon-item navbar-wagon-link red-hover">CULTURE</a>
    </div>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right">
      <!-- Button (call-to-action) -->
      <div class='sub-navbar'>
      <a href="" class="navbar-wagon-item navbar-wagon-link font-oswald blue-hover">Mes Bookmarks</a>

      <a href="" class="navbar-wagon-item  btn btn-bordered btn-bordered-primary">Se connecter</a>
      </div>
    </div>

  </div>
</div>
