<div class="navbar-wagon">
  <!-- Logo -->
    <div class="navbar-wagon-logotype">
        <a href="/" class="navbar-wagon-brand text-center">
          <h2 class= "navbar-hedgenews">
            <%= image_tag "icone/hedgenews_logo.black.png" %>
            HedgeNews
          </h2>
        </a>
    </div>



</div>

  <!-- Right Navigation -->
  <div class="container">
  <div class="navbar-wagon-second hidden-xs hidden-sm font-oswald">

    <div>
    <!-- Text link -->
      <a href="" class="navbar-wagon-item navbar-wagon-link">EN CE MOMENT</a>

      <a href="" class="navbar-wagon-item navbar-wagon-link">INTERNATIONAL</a>

      <a href="" class="navbar-wagon-item navbar-wagon-link">ÉCONOMIE</a>

      <a href="" class="navbar-wagon-item navbar-wagon-link">POLITIQUE</a>

      <a href="" class="navbar-wagon-item navbar-wagon-link">CULTURE</a>
    </div>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right">
      <!-- Button (call-to-action) -->
      <div class='sub-navbar'>
      <a href="" class="navbar-wagon-item navbar-wagon-link font-oswald">My Bookmarks</a>

      <a href="" class="navbar-wagon-item  btn btn-bordered btn-bordered-primary">Sign up</a>
      </div>
    </div>


<<<<<<< HEAD
  </div>
  <div class='sub-navbar'>
    <a href="" class="navbar-wagon-item navbar-wagon-link font-oswald">Mes Bookmarks</a>
=======
>>>>>>> master
  </div>
</div>
