<div class="container">
  <br><br>
  <div class="panel">
    <div class="panel-body text-center">
        <%= form_tag(results_path, method: "get") do %>
          <%= label_tag :topic_search, "Sujet" %>
          <%= text_field_tag :topic_search, nil, placeholder: "Rechercher un sujet", require: true %>
          <%= button_tag "Recherche", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>
