<div class="main-topic"></div>
  <div class="main-topic-image" style="background-image: url(<%= image_path "Valls.png" %>)">
    <h1>Valls Démissionne</h1>
  </div>
  <div class="main-topic-legend">
    <p>14 Articles  3 Sources</p>
  </div>

</div>
