
<div class="main-topic"></div>
  <div class="main-topic-image" style="background-image: url(<%= image_path "Valls.png" %>)">
    <h1>Valls Démissionne</h1>
  </div>

  <div class="panel">
    <div class="panel-body">
      <div class="main-topic-legend">
          <p>14 Articles  3 Sources</p>
        <div class="logo-source">
          <%= image_tag("logo/L'Humanité.png", :alt => "rss feed", height: 25, width: 70,) %>
          <%= image_tag("logo/LaTribune.jpg", :alt => "rss feed", height: 25, width: 50,) %>
          <%= image_tag("logo/Valeurs-Actuelles.jpg", :alt => "rss feed", height: 60, width: 100,) %>
        </div>
      </div>
    </div>
  </div>
</div>
