<div class="wrapper-white">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="about">

        <h1> Notre démarche </h1>

        <br>

        <p>HedgeNews est un agrégateur de média digitaux créé en 2016.</p>

        <p>Aujourd’hui, le phénomène des "fake news" et le volume d’information remet en question l'accès libre à l'actualité ainsi que l’efficacité du travail des journalistes. L'amplification du phénomène de bulle médiatique, notamment sur les réseaux sociaux, restreint la capacité du lecteur à créer son opinion de manière objective.</p>

        <p>HedgeNews crée des revues de presse sur les sujets d'actualités, en agrégeant les articles publiés par les principaux médias français. Ses utilisateurs ont ainsi accès à une diversité de points de vue pour se forger une opinion éclairée sur un sujet d'actualité qui les intéresse.</p>

        <p>C’est grâce à cette approche innovante et une équipe passionnée que HedgeNews a pu se développer sur ce secteur en commençant avec les médias français.  De nouvelles sources, à commencer par les médias anglo-saxons, seront bientôt intégrées par HedgeNews.</p>

        <p>HedgeNews a été développé au cours du Batch 47 au <a href="https://www.lewagon.com/fr/nantes">Wagon de Nantes</a></p>
      </div>
    </div>
  </div>
</div>
