<div class="wrapper-white">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="about">

          <h1> Notre démarche </h1>

          <p>Hedgenews est une start-up créée en 2016 lors du Batch 47 au Wagon de Nantes qui rapidement est devenu un acteur majeur dans le journalisme digital.</p>

          <p>Aujourd’hui le phénomène de fake news et le volume d’information remet en question un accès libre à l'information et l’efficacité du travail des journalistes. L'apparition d'une bulle médiatique autour d'un sujet empêche le lecteur de se créer sa propre opinion. C'est pourquoi, à l’aide de ce site nous mettons la diversité des points de vue au service des utilisateurs, afin que ceux ci peuvent se forger une opinion éclairée. Le site propose la lecture de différents articles provenant de sources journalistiques opposés. Les articles publiées proviennent des journaux nationaux.</p>

          <p>C’est grâce à cette approche innovante et une équipe passionnée que nous avons pu nous développer sur ce secteur en France (et au Royaume-Uni).</p>
        </div>
      </div>
    </div>
  </div>
</div>
