<div>
  <div>
    <h1 class='text-centere'>Get news</h1>
    <h2 class='text-centere'>Make your own mind</h2>
  </div>

<!--   <div class="flex-box-center">
    <div class="flex-box-item text-center">
      <h4>Find</h4>
      <p><strong>information from various sources</strong></h4>
      <p>Traditionnal press, blogs and social media</p>
    </div>
  </div> -->

  <div class='container'>
    <div class='row'>
      <div class='col-xs-12 col-sm-6 col-md-4'>
        <div class='text-center' >
          <h3 class='text-red'>Find</h3>
          <p><strong>information from various sources</strong></h4>
          <p>Traditionnal press, blogs and social media</p>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-4'>
        <div class='text-center' >
          <h3 class='text-red'>Discover</h3>
          <p><strong>significant topics</strong></h4>
          <p>Trending topics but also the important ones that do not make headlines</p>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-4'>
        <div class='text-center' >
          <h3 class='text-red'>Analyse</h3>
          <p><strong>with our tools</strong></h4>
          <p>Semantic analysis and context about what you're reading.</p>
        </div>
      </div>
    </div>
  </div>



</div>
