<div>
  <div>
    <h1>INFORME TOI !</h1>
    <h2> ET FORGE TON OPINION</h2>
  </div>

  <!-- TODO: SEARCH -->

  <!-- MAIN TOPIC -->
  <%= render 'home_card' %>

    <div class='row'>
      <div class='col-xs-12 col-sm-6 col-md-4'>
        <div class='text-center' >
          <h3 class='text-red'>Find</h3>
          <%= image_tag("loupe.png", :alt => "rss feed", height: 45, width: 50,) %>
          <p><strong>information from various sources</strong></p>
          <p>Traditionnal press, blogs and social media</p>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-4'>
        <div class='text-center' >
          <h3 class='text-red'>Discover</h3>
          <%= image_tag("eye.png", :alt => "rss feed", height: 45, width: 50,) %>
          <p><strong>significant topics</strong></p>
          <p>Trending topics but also the important ones that do not make headlines</p>
        </div>
      </div>
      <div class='col-xs-12 col-sm-6 col-md-4'>
        <div class='text-center' >
          <h3 class='text-red'>Analyse</h3>
          <%= image_tag("chart.png", :alt => "rss feed", height: 45, width: 50,) %>
          <p><strong>with our tools</strong></p>
          <p>Semantic analysis and context about what you're reading.</p>
        </div>
      </div>
    </div>

</div>
