
<div class="wrapper-white">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        <div class="team">

            <h1>Notre Équipe</h1>

          <div class="flex-box-space-around">

            <div>
              <h5>Guillaume Cabanel
              <%= link_to "https://www.linkedin.com/in/guillaumecabanel/fr", target: "_blank" do %>
                <i class="fa fa-linkedin-square fa-2x"></i>
              <% end %></h5>
            </div>

            <div>
              <h5>Isaure Troesch
              <%= link_to "https://uk.linkedin.com/in/isaure-troesch-91774b9a", target: "_blank" do %>
                <i class="fa fa-linkedin-square fa-2x"></i>
              <% end %></h5>
            </div>

            <div>
              <h5>Julie Moiton
              <%= link_to "https://uk.linkedin.com/in/julie-moiton-101b31116/fr", target: "_blank" do %>
                <i class="fa fa-linkedin-square fa-2x"></i>
              <% end %></h5>
            </div>

            <div>
              <h5>Raphaëlle Coudin
              <%= link_to "https://fr.linkedin.com/in/raphaëlle-coudin-891842a3", target: "_blank" do %>
                <i class="fa fa-linkedin-square fa-2x"></i>
              <% end %></h5>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
