.footer-hedge {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: $white;
  transition: all 0.3s ease;
  display: flex;
  height: 70px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-around;

  color: black;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  // margin-top: 100px;

}

.footer-hedge-brand img {
  width: 50px;
  color: $red;
}

.footer-hedge-item {
  color: black;
  font: 10px;
}

.footer-margin{
  height: 50px;
}

