/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

body {
  margin-top: 70px;
}

::selection {
  background: $brand-color;
  color: $white;
}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}


// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.flex-box-center{
  display: flex;
  justify-content: center;
}


.flex-box-space-around{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
}

.flex-box-space-between{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.flex-box-right {
  display: flex;
  justify-content: flex-end;
}

.wrapper-grey {
  background-color: $grey;
  // #B3B5BB
}


.wrapper-white {
  background-color: $white;
  padding: 20px;
  // padding-left: 130px;
  // padding-right: 130px;
  margin: 50px auto;
  text-align: center;
  width: 100%;
  // max-width: 1000px;
}

// .padding-devise {
//   background-color: $white;
//   padding: 20px;
//   // padding-left: 130px;
//   // padding-right: 130px;
//   margin-top: 50px;
//   margin-bottom: 50px;
//   text-align: center;
//   max-width: 1000px;
// }

a:hover {
  color: $brand-primary;
}

// .padding-search-bar {
//   padding-left: 130px;
//   padding-right: 130px;
//   margin-top: 50px;
//   margin-bottom: 50px;
//   text-align: center;
//   max-width: 1000px;
// }
