.btn-bordered {
  background-color: transparent;
  border: 1px solid $red;
  font-family: oswald, sans-serif;
  font-weight: 300;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;

}

// .btn-bordered:hover {
//   font-weight: 400;
// }

.btn-bordered-primary {
  color: $red;
  border-top: 1px solid $red ;
  border-right: 1px solid $red;
  border-left: 1px solid $red;
  border-bottom: 1px solid $red;
  transition: border 0.1s;
}

.btn-bordered-primary:hover {
  color: $red;
  border-top: 1px solid $white;
  border-right: 1px solid $white;
  border-left: 1px solid $white;
}

.btn-bordered-primary-on-grey-background:hover {
  color: $brand-primary;
  border-top: 1px solid $grey;
  border-right: 1px solid $grey;
  border-left: 1px solid $grey;
  border-bottom: 1px solid $red;
  background-color: transparent;
}

.btn-bordered-info {
  color: $blue;
  border-top: 1px solid $blue ;
  border-right: 1px solid $blue;
  border-left: 1px solid $blue;
  border-bottom: 1px solid $blue;
  transition: border 0.1s;
}

.btn-bordered-info:hover {
  color: $blue;
  border-top: 1px solid $white;
  border-right: 1px solid $white;
  border-left: 1px solid $white;
}
