.btn-bordered {
  background-color: transparent;
  border: 1px solid $red;
  font-family: oswald, sans-serif;
  font-weight: 300;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
}

// .btn-bordered:hover {
//   font-weight: 400;
// }

.btn-bordered-primary {
  color: $red;
  border: 1px solid $red;
}

.btn-bordered-primary:hover {
  color: $red;
}

.btn-bordered-info {
  color: $blue;
  border: 1px solid $blue;
}

.btn-bordered-info:hover {
  color: $blue;
}
