.list-group {
  margin: 80px;
}

.list-group-item {
  padding: 15px;
}

.article-box {
}

.logo-title {
  padding: 10px;
}

.table-logo {
  display: block;
  margin-bottom: 5px;
}

.image-table {
  margin: 0 10px;
}


.table-buttons {
  align-items: center;
}

// .table-article {
//   flex: 4 0 auto;
// }
